

.category-home-slider__carousell-main-container{
    
    .react-multi-carousel-item{
        
    }

    .home-category-carousel__dots{
        display: none;
    }
    
    .category-product-section__card-main-container{
       
        width: 94%;
        margin-bottom: 6*6px;
        max-width: 180px;
        
        
    }
    .react-multi-carousel-item{
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .react-multiple-carousel__arrow--right,.react-multiple-carousel__arrow--left {
        background-color: hsla(351, 39%, 40%, 0.691) !important;

        transition: transform 0.3s ease;
        
    }
    .react-multiple-carousel__arrow--left:active{
        transform: scale(1.2);
    }

    .react-multiple-carousel__arrow--right:active{
        transform: scale(1.2);
    }

    .home-category-carousel-container{
        height: auto !important;
        max-height: max-content !important ;
        width: 94%;
       
        
    }

    

    .category-home-slider-carousel-title-fix-container{
        width: 90%;

    }
    .category-home-slide__carousell-title-container{
        padding-top: 6*7px;
        justify-self: center;
        align-self: start;
        width: fit-content;
        
        p{
            width: auto;
            border-radius: 4px;
            padding: 4px 8px 4px 8px;
            margin-left: 6px;
        }
    }

    .home-category-slider__pre-footer-styles{
        padding-bottom: 64px;
    }
  

}



