.extra-services-home-section-main-container{
  /*   border-top: 4px solid rgba(243, 242, 242, 0.963);
    border-bottom: 4px solid rgb(243, 242, 242); */
    
    
    /* background-color: #eabec4; */
    
    padding-bottom: 16px;
    margin-bottom: -4px;


   

            
/* opacity: 0.8;
background-size: 16px 16px;
background-image: repeating-linear-gradient(0deg, #e8dddb 0, #eca99e 0.5px, #d0cae1 0, #d0cae1 50%);
 */
    

}


.extra-services-home-section__service-container{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    border-radius: 6px;
     

    p{
        margin: 0;
        margin-bottom: 12px;
        margin-top: 12px;
        margin-left: 12px;
        margin-right: 12px;
       

    }
    .extra-services-home-section__service__icons{
        margin-right: 16px;
        margin-left: 16px;
        
    }
}


.extra-services-home-secton__services-container{
    padding-top: 42px;
    width: 80%;
    font-weight: 500;
    margin-left: 16px;
    


    .extra-services-home-section__service-container-short{
        width:fit-content;
    }
}












@media (min-width: 600px) {
    .extra-services-home-secton__services-container{
        width: 60%;
    }
}


@media (min-width: 1000px) {

    .extra-services-home-section-main-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .extra-services-home-secton__services-container{
        width: 40%;
    }
    .extra-services-home-section__service-container-long{
        
        width: 42vw;
        
        margin-left: -32*2px;
        
    }
}
@media (min-width: 1000px) {

  
    .extra-services-home-secton__services-container{
        width: 30%;
    }
}
@media (min-width: 1400px) {

    .extra-services-home-section__service-container-long{
        
        width: 40vw;
        
        margin-left: -32*2px;
        
    }

}
@media (min-width: 1600px) {

  
    .extra-services-home-secton__services-container{
        width: 26%;
    }
    .extra-services-home-section__service-container-long{
        
        width: 38vw;
        
        margin-left: -32*3px;
        
    }
}