.footeer-prev-transparent-container{
    height: 64px;
   
    width: 100vw;
    position:relative;
}
.footer-container{
    position: relative;
    background-image: url(../../Icons/footerBg.jpg);

    height: 6*60px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .footer__mimarte-logo{
        border-radius: 50%;
        position: absolute;
        width: 6 *24px;
        height: 6 *24px;
        left: 14%;
        top: -32px;
        
    }
    


    .footer__img-absolute-container{
     margin-top: -16px;
     
        
    }

    .footer__pestana-container{
        position: absolute;
        right: 14%;
        top: 0px;
       
       
       
       

        .footer__pestanaimg{
            width: 6*22px;
            height: 42px;
            
            object-fit: cover;
            object-position: bottom;
          
            
        }
    }

    .footer__text-info-container{
        padding-top: 6*20px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 50;
        
    }
    .footer__text__main-info-container{
      
        width: fit-content;
        

        margin-top: 16 *2px;
        p{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    .footer__follow-us__icons{
        font-size: 6*6px;
        
        margin-right: 16px;
    }
    .footer__text__follow-us-container{
        margin-top: 6*6px;
        padding-bottom: 6*6px;
       
        width: fit-content;
        
        p{
            margin-top: 5px;
            margin-bottom: 5px;
            
        }
    }

    .footer__bg-filter-container{
        
        position: absolute;
        width: 100%;
        height: 100%;
        background-color:hsla(253, 28%, 90%, 0.635);
        background-color:#dfc9d2a2;
        /* backdrop-filter: blur(1px); */
    
    }


}







@media (min-width: 768px){
    .footer__mimarte-logo{
    
        width: 6 *32px !important;
        height: 6 *32px !important;
        left: 14%;
        
        
        
    }
  
    .footer__text-info-container{
        margin-top: 32 + 12px;
    }

    .footer-container{
        height: 6*70px;
    }
}