.result-container-show {
  display: flex;

  position: relative;
  top: 0;
  margin-top: 6 * 12px;
  z-index: 10;
}

.result-container-hide {
  display: none;
}

.catalogo-text-container {
  border-radius: 4px;
}

.header-banner__down-text__catalogo-container-text {
  z-index: 1000;

  margin-top: -22px;
  padding: 0;

  .catalogo-text-container {
    padding: 10px 10px;
    padding-left: 16px;
  }

  .home-icon-products-link {
    font-size: 1.6em;
    margin: 0 6px 0 6px;
  }
}

.product-section__category__filter__category-results-container {
  width: 100%;

  z-index: 10;
  height: auto;
  margin-top: 12px;
 
}

.product-section-_category__filter__categories-main-container {
  width: 100%;

  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.product-senction__category__filter__categories-container {
  margin-top: -16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .result-zoom-container {
    max-width: auto;
    height: 32px;
    p {
      padding: 4px 9px 4px 9px;
      border-radius: 4px;
    }
  }
}

.product-section__category__filter-container {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  div {
    padding-top: 0;
    padding-bottom: 0;
  }

  .product-section__category-filter__icon {
    font-size: 1.8em;
  }
}
.product-section__category__filter-main-container {
  div {
    border-radius: 6px !important;
    padding: 2px 8px;
    padding-left: 12px;
  }
}
.category-filter-container {
  margin-top: -24px;
  z-index: 500;
  border: 1px solid rgba(0, 0, 0, 0.002);
  border-radius: 4px !important;
}



@media (min-width: 1200px) {
.header-banner__down-text__catalogo-container-text{
 
  margin-top: 6px;


}

}
