
.navbar-index{
  z-index: 1000 !important; 
}
.navbar-fade{
  z-index: 1000!important;
}

  .mobile-navbar {
    position: absolute;
    top: 0px; /* Empieza arriba de la pantalla */
    right: 0px;
    left: 0; /* Centrado horizontalmente */
   
  
    width: 100%;
    height: 56%;
    background-color: #8e3e4a73;
    background-color: hsla(22, 61%, 92%, 0.9);
    
    z-index: 1000 !important;
 /*    animation: navAnimation .25s cubic-bezier(0.25, 0.1, 0.29, 1);
    animation-iteration-count: 1; */
  }
  

  @keyframes navAnimation {
    
    0%{
        transform: scale(.4);
        font-size: 2px;
        height: 12px;
        width: 12px;
        overflow: hidden;
        top: 0px;
        
        left:0px ;
        border-bottom-right-radius: 50%;
        border-radius: 50%;
        
       
    }


    50% {
      
      transform: scale(.8);

    }

    65%{
      
      border-bottom-right-radius: 70%;
   
    }

    75%{
      
    }

    85%{
      
     
    }
    95%{
      
    }
    
    100%{
      font-size: 16px;
     
      width: 100vw;
        top: 0px;
        
        left: 0;

    }
  }
  .nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Mostrar elementos uno debajo del otro */
    align-items: end; /* Centrar horizontalmente */
    margin-right: 8%;
    z-index: 1200;
   
  }
  
  .nav-item {
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s;
    margin: 0.5rem 0;
    z-index: 1200;
    background-color:hsl(0, 0%, 98%);
    padding: 6px 24px;
    border-radius: 4px;
  }
  
  .nav-item:hover {
    color: #8e3e4a;
  }
  
