

.header-banner-container{
    
    width: 100%;
    position: relative;
   
    margin-bottom: -4px;
   
}


.header-banner__img{
    object-fit:cover;
    width: 100%;
    height: 6*66px;
}

.header-text-bar{
    position: relative ;
    width: 8px;
    border-radius: 2px;
    height: 60px;
    background-color: rgba(250, 249, 247, 0.552);
    margin-left: 16px;


}
.header-banner__glass-filter{
    position: absolute;
    width: 100%;
    height: 6*66px;
    z-index: 50;
   
    /* background-color: #e6e3ee8c; */
    background-color:hsla(354, 48%, 90%, 0.535);
    background-color:  hwb(249 41% 38% / 0.265);
    background-color: hsla(348, 25%, 80%, 0.61);
    
}



.header-banner__text-container{
    position: absolute;
    width: auto;
    top: 50%;
    z-index: 50;
    left: 0;
    right: 0;
    height: 94px;
  
    
  
    .header-banner-text1-container{
        font-size:20px;
        border-radius: 0;
        width: auto;
        border: 2px solid;
        border-color: hsla(351, 39%, 40%, 0.351);
        border-radius: 4px;
        padding: 6px;
     
        
    
      
    }

    p{
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        
        
       
    }
    

    .header-banner__text2{
        font-weight: 400;
    }

    .header-banner__text-icon{
        font-size: 1.4em;

    }
    .header-banner__down-text-container{
        position: absolute;
        
        top:88px;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 0px;
        padding-bottom: 0px;
        
        
       
        
       /*  background-color: #908784; */

        p{
            text-align: left;
        }
    }

    .header-banner__down-text__icon{
        font-size: 1.4em;
        
    }
    
}








@media (min-width: 768px) {
  
    .header-banner__img{
       
        height: 6*76px;
    }
    .header-banner__glass-filter{
     
        height: 6*76px;
    
    }

    .header-banner__down-text-container{
        top: 210% !important;
    }

    

   
}

@media (min-width: 1000px) {
.header-text-bar{
    width: 10px;
}

}

@media (min-width: 1200px) {
  
    .header__navbar__logo-img{
        width: 6 *36px;
        height: 6 *36px;
        border-radius: 50%;

      
       
        
        
     }

     .header-text-bar{
        width: 12px;
      height: 80px;
      margin-top: -20px;
    
    }
     

     
   
     .header-banner__down-text-container{
     margin-top: -30px;
       
    }


    .header-banner-text1-container{
        
        margin-top: -24px;
        font-size: 18px;

        width: 330px;
       

        p{
            font-size: 24px;
        }


        
    }
    
    
    .header-banner-container{
        height: 460px;
      }
      .header-banner__glass-filter{
        height: 460px;
        
      }
    
      .header-banner__img{
        height: 460px !important; 
      }
  
    

   
}