.popup-product-modal__outside-fade{
    z-index: 2000;
}

.popup-product-modal__outside-container{
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    position: fixed;
    z-index: 2000;
    overflow-y: auto;
    background-color: hsla(349, 16%, 68%, 0.92);
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    .popup-product-modal__loader-animated { 
        position: absolute; 
        
        top: 50%;
        bottom: 50%;
        margin: 0;
        
      } 


    .popup-product-modal__inner-container{
        height: 90%;
        width: 94%;
        padding-bottom: 32px;
        margin-top: 78px;
        
        


        .popup-product-modal__image-container{
            height: 260px;

            div{
                height: 100%;
                width: 100%;
            }
           
            .modal-info-img-1{
              
                height: 92%;
                width: 92%;
                object-fit: cover;
             }

             .modal-info-img-icon-expand{
                border-radius: 4px;
                padding: 4px 8px;
                position: absolute;
                bottom: 20px;
                right: 24px;
                border: 1px solid rgba(240, 238, 238, 0.703);
             }
           
        }

         
       


        .modal-product-modal__info__description-container{
            max-height: 120px;
            overflow: hidden;
            transition: all .5s ease-in;
        }

        .description-show{
            transition: all .5s ease-in;
            max-height: fit-content;
            animation-name: descriptionExpand;
            animation-iteration-count: 1;
            animation-duration: 360ms;
            animation-timing-function:cubic-bezier(0.6, 0.04, 0.98, 0.335)
        }
        .description-hide{
            transition: all .5s ease-in;
           
            animation-name: descriptionHide;
            animation-iteration-count: 1;
            animation-duration: 360ms;
            
        }
        @keyframes descriptionExpand {
            0%{
                max-height: 120px;
            }

          
            90%{
                max-height: 700px;
            }
            100%{
                max-height: fit-content;
            }
        }
        @keyframes descriptionHide {
        
            0%{
                max-height: fit-content;
            }
           
            10%{
                max-height: 680px;
            }
         
            100%{
                max-height: 120px;
            }
        }



        .popup-product-modal__buy-button,.popup-product-modal__close-modal-button-container,.popup-product-modal__info-container{
            margin-top: 12px;
        }

        .popup-product-modal__info-container{
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 32px;
            padding-bottom: 6px;
            
           
        }
        .popup-product-modal__buy-button-container{
            align-self: end;
            justify-self: end;
            width: 100%;
           
            margin-bottom: 16px;
            
        }
        .popup-product-modal__buy-button{
            height: 64px;
           
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           align-items: center;

           p{
            margin-left: 16px;
           }

           .popup-product-modal__buy-icon{
            margin-right: 16px;
           }
        }

        .popup-product-modal__close-modal-button-container{
            position: absolute;
            
            top: 16px;
            right: 14px;
           height: auto;
            justify-self: end;
            align-self: end;
            z-index: 1000;
            

            
            
            

            div{
               
                width:64px;
                align-self: end;
                justify-self: end;

                

                .popup-product-modal__close-icon{
                   
                    font-size: 2.4em;
                }
            }
        }

        .modal-product__description__expand-icon{
            font-size: 2.2em;
        }
    }
}







@media (min-width: 500px) {
  
    .popup-product-modal__inner-container {
        width: 460px !important;
        
     
      
    }
    

   
}

@media (min-width: 800px) {
  
    .popup-product-modal__inner-container {
        width: 690px !important;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        
     
      
    }

    .product-section__category__filter-container{
        cursor: pointer;
    }
    .popup-product-modal__info-outside-container{
        width: 40%;
        
        align-self: start;
      
      
       
    }


    .popup-product-modal__image-container{
        width: 50%;
        height: 100% ;
        margin-top: 12px;
        margin-right: 12px;

    }


    .modal-product-modal__info__description-container{
       
        max-height: 260px !important;
        overflow: auto !important;
    }

    .popup-product-modal__expand-icon-container{
        display: none;
    }
    

   
}

@media (min-width: 1200px) {
  


    .popup-product-modal__inner-container {
        width: 1060px !important;
  
        
        
     
      
    }
    .popup-product-modal__image-container{
        width: 50%;
      height: 346px !important;
 

    }

    .popup-product-modal__info-outside-container{
        width: 48%;
        
      
      
      
       
    }

  

   
}