$Font-mobile-small-A: 16px !default;
$Font-mobile-small-B: 14px !default;
$Font-mobile-small-C: 12px !default;





.font-600{
    font-weight: 600;
}
.font-500{
    font-weight: 500;
}

.font-400{
    font-weight: 400;
}


.font-color-B{
    
    color: hsl(346, 37%, 42%);
    color: hsl(351, 39%, 40%);
}

.underline{
text-decoration: underline;
}

.m-tb-6px{
    margin-bottom: 6px;
    margin-top: 6px;
}

.shadow-A{
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
}



.font-mobile-medium-A{
    font-size: 18px;
}
.font-mobile-small-A{
    font-size: 16px;
}
.font-mobile-small-B{
    font-size: 14px;
}
.font-mobile-small-C{
    font-size: 12px;
}


.font-color-100{
    color: rgba(255, 255, 255, 1);
}
.font-color-90{
    color: rgba(229, 228, 228, 1);
}
.font-color-80{
    color: rgba(204, 204, 204, 1);
}
.font-color-70{
    color:rgba(179, 179, 179, 1);
}
.font-color-70{
    color:rgba(179, 179, 179, 1);
}
.font-color-60{
    color:rgba(153, 153, 153, 1);
}
.font-color-50{
    color:rgba(128, 128, 128, 1);
}
.font-color-40{
    color:rgba(102, 102, 102, 1);
}
.font-color-30{
    color:hsl(0, 1%, 31%);
}
/* .font-color-30{
    color:rgba(77, 77, 77, 1);
} */




.cursor-pointer{
    cursor: pointer;
}

.position-relative{
    position: relative;
}

.br-6{
    border-radius: 6px;
}


.bg-A-100 { 
        background-color:#E67E8F ;
}
.bg-A-75 { 
        background-color:rgba(217, 139, 152, 1) ;
}
.bg-A-50 { 
        background-color: #E67E8F ;
}

.bg-A-25 { 
        background-color:rgba(191, 165, 169, 1) ;
}

.bg-gray-30{
    background-color:  rgb(131, 123, 123);
}

.text-decoration-none{
    text-decoration: none;
}

.bg-A-W-100{
   background-color: rgb(247, 223, 227);
}
.bg-A-W-50{
   background-color: hsl(22, 60%, 92%);
}
/* .bg-A-W-50{
   background-color: rgb(239, 223, 223);
} */
.bg-B-W-100{
   background-color:hsl(0, 0%, 98%);
}
.bg-B-W-100{
   background-color:hsl(0, 0%, 98%);
}


.bg-W-90{
    background-color: #e0dcdc;
}




.border-bottom-decoration{
    border-bottom: 1px solid rgb(147, 146, 146);
}

.rounded-A{
    border: 2px solid #c9c9c9;
   
}















/* small entries */

.hidden{
    display: none;
}








.underlined-decoration{
    text-decoration:line-through;
}
































































































































































































































































.flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}